* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f5f5f5;
  font-family: dengxian, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: #e4e6eb;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }
  // &::-webkit-scrollbar-corner {
  //   background: #179a16;
  // }
}

body {
  font-size: 16px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 100%;
  }
  .title-text {
    font-size: 32px!important;
  }
  .show-article-content {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: normal !important;
  }
  .show-article-datetime {
    display: inline-block !important;
  }
  .hide-article-time{
    display: none!important;
  }
  .show-article-pagination {
    display: block !important;
  }
  .show-article-pagination-button {
    display: none !important;
  }
  .hide-article--pagination {
    display: none !important;
  }
  .show-article-tag {
    display: flex !important;
  }
  .article-title-font-size {
    font-size: 24px !important;
  }
  .article-meta-font-size {
    font-size: 16px !important;
  }

  .say-time-log {
    font-size: 16px !important;
    padding: 48px 24px 0 !important;
    .box-body {
      font-size: 18px !important;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }
  .title-text {
    font-size: 32px!important;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 100%;
  }
  .lg-show {
    display: block !important;
  }
  .title-text {
    font-size: 48px!important;
  }
  .show-menu {
    display: flex !important;
  }
  .hide-menu-icon {
    display: none !important;
  }

  .about-font-size {
    font-size: 20px !important;
  }

  .say-time-log-lg {
    padding: 48px 32px 0 !important;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .title-text {
    font-size: 64px!important;
  }
  .xl-show {
    display: block !important;
  }

  .say-time-log-xl {
    padding: 48px 64px 0 !important;
  }
}

@media screen and (min-width: 1536px) {
  .title-text {
    font-size: 80px!important;
  }

  .container {
    max-width: 1496px;
  }
}
